<!-- Begin Page Content -->
<div class="container-fluid book_demandes">
  <br>
  <hr>
  <div class="col-10 offset-1">

    <div class="img"><img src="img/book1.png" height="150px" alt=""></div>
    <div class="cm_text-right">
      <h3>Mastering java 11</h3>
      <p class="lines">
        <strong>By</strong> <span>John monak</span><br>
        <strong>Edition</strong> <span>2018</span><br>
        <strong>Pages</strong> <span>420</span><br>
        <button class="btn-xs annuler btn btn-danger btn-sm"><i class="fas fa-times"></i> Annuler la demande</button>
      </p>
    </div>
    <br>
  </div>
  <hr>
  <div class="col-10 offset-1">

    <div class="img"><img src="img/book1.png" height="150px" alt=""></div>
    <div class="cm_text-right">
      <h3>Mastering java 11</h3>
      <p class="lines">
        <strong>By</strong> <span>John monak</span><br>
        <strong>Edition</strong> <span>2018</span><br>
        <strong>Pages</strong> <span>420</span><br>
        <button class="btn-xs annuler btn btn-danger btn-sm"><i class="fas fa-times"></i> Annuler la demande</button>
      </p>
    </div>
    <br>
  </div>
  <hr>
  <div class="col-10 offset-1">

    <div class="img"><img src="img/book1.png" height="150px" alt=""></div>
    <div class="cm_text-right">
      <h3>Mastering java 11</h3>
      <p class="lines">
        <strong>By</strong> <span>John monak</span><br>
        <strong>Edition</strong> <span>2018</span><br>
        <strong>Pages</strong> <span>420</span><br>
        <button class="btn-xs annuler btn btn-danger btn-sm"><i class="fas fa-times"></i> Annuler la demande</button>
      </p>
    </div>

  </div>
  <hr>
</div>
<!-- /.container-fluid -->
