
<div class="container">

  <div class=" my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="card o-hidden border-0 shadow-lg col-md-6 offset-3">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Créer un compte!</h1>
            </div>
            <form class="user" #f="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input name="prenom" [(ngModel)]="user.student.prenom" type="text" class="form-control form-control-user" required placeholder="Prénom">
                </div>
                <div class="col-sm-6">
                  <input name="nom" type="text" [(ngModel)]="user.student.nom"class="form-control form-control-user" required placeholder="Nom">
                </div>
              </div>
              <div class="form-group">
                <input name="email" type="text" email [(ngModel)]="user.student.email"class="form-control form-control-user" required placeholder="Email">
              </div>
              <div class="form-group">
                <input name="telephone" type="tel" [(ngModel)]="user.student.telephone"class="form-control form-control-user" required placeholder="Telephone">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input name="cin" type="text" [(ngModel)]="user.student.cin"class="form-control form-control-user" required placeholder="CIN">
                </div>
                <div class="col-sm-6">
                  <input name="cne" type="text" [(ngModel)]="user.student.cne"class="form-control form-control-user" required placeholder="CNE">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input name="password" type="password" [(ngModel)]="user.password" class="form-control form-control-user" required placeholder="Mot de passe">
                </div>
                <div class="col-sm-6">
                  <input name="confirmedPwd" type="password" [(ngModel)]="confirmedPwd" class="form-control form-control-user" required placeholder="Confirmez le mot de passe">
                </div>
              </div>
              <button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-user btn-block">
                Créer
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" routerLink="/login">Se connecter!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

