
<div class="container-fluid profile_edit livre_edit">
  <br>
  <div class="col-8 offset-2 profile-card">

    <div class="row">
      <div class="col-4 pt-4 pl-4">
        <img [src]="localFileUrl" id="book_img" height="200px" width="162px"><br>
        <div>
          <button (click)="uploader.click()" class="img_upload_btn mt-2 ml-3 btn btn-primary btn-sm">
            <i class="fas fa-upload"></i> Choisir image...

          </button>
        </div>
      </div>
      <div class="col-8">
        <br>
        <div class="data">
          <form class="form-inline" (ngSubmit)="saveBook()" #f="ngForm">

            <input #uploader type="file" id="imgInp" hidden (change)="displayAndAssignImg($event)">
            <div>
              <span class="mr-sm-2">Catégorei:</span>
              <select name="" id="" class="form-control mb-2 pr-5" >
                <option *ngFor="let category of categories._embedded.categories" value="{{category.id}}">{{category.nom}}</option>
              </select>
            </div>

            <div>
              <span class="mr-sm-2">Titre:</span>
              <input type="text" [(ngModel)]="book.titre" name="titre" required class="form-control mb-2 mr-sm-2">
            </div>

            <div>
              <span class="mr-sm-2"> Auteur:</span>
              <input type="text" [(ngModel)]="book.auteur" name="auteur" required class="form-control mb-2 mr-sm-2">
            </div>

            <div>
              <span class="mr-sm-2">Edition:</span>
              <input type="text" [(ngModel)]="book.edition" name="edition" required class="form-control mb-2 mr-sm-2">
            </div>

            <div>
              <span class="mr-sm-2">ISBN:</span>
              <input type="text" [(ngModel)]="book.isbn" name="isbn" required class="form-control mb-2 mr-sm-2">
            </div>
            <div>
              <span class="mr-sm-2">Pages:</span>
              <input type="text" [(ngModel)]="book.pages" name="pages" required class="form-control mb-2 mr-sm-2">
            </div>
            <div>
              <span class="mr-sm-2">Description:</span>
              <textarea name="" [(ngModel)]="book.description" name="description" required cols="30" rows="3" class="form-control mt-2 mb-2 mr-sm-2"></textarea>
            </div>

            <div class="footer">
              <br>
              &ensp;
              <button type="submit" class="btn btn-success mr-2" [disabled]="!f.valid">
                <i class="fas fa-save"></i>
                Enregister
              </button>
              <a class="btn btn-info" href="livres.html">
                <i class="fas fa-times"></i>
                Annuler
              </a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<br>
