<!-- Begin Page Content -->
<div class="container-fluid book_details">
  <br><br>
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-5"><img src="{{bookService.myApiUrl+book.id+'/getPic'}}" height="400px" width="325px" alt=""></div>

      <div class="col-7 book-text">
        <h3>{{book.titre}}</h3>
        <p>
          <strong>By</strong> <span>{{book.auteur}}</span><br>
          <strong>Edition</strong> <span>{{book.edition}}</span><br>
          <strong>Categorie</strong> <span>{{book.category.nom}}</span><br>
          <strong>ISBN</strong> <span>{{book.isbn}}</span><br>
          <strong>pages</strong> <span>{{book.pages}}</span>
        </p>
        <p>
          <span>{{book.description}}</span>
        </p>
        <div class="footer">
          <button class="btn btn-primary mr-2" routerLink="../../"><i class="fas fa-angle-double-left"></i>  Retour</button>
          <button *ngIf="isStudent" (click)="demanderBook()" class="btn btn-warning"><i class="fas fa-book-reader"></i> Demander d'emprunt</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
