
<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-10 offset-1 profile-card">
      <!-- Page Heading -->
      <h4>CATEGORIES</h4>
      <br><br>

      <form class="form-inline col-6 offset-3" action="/action_page.php">

        <label for="cate">Nom: </label>
        <input type="text" class="form-control ml-3" id="cate">

        <div>
          <br>
          <button class="btn btn-success btn-sm mr-2">
            <i class="fas fa-save"></i>
            Enregister
          </button>
          <a href="categories.html" class="btn btn-info btn-sm">
            <i class="fas fa-times"></i>
            Annuler
          </a>
        </div>
      </form>

    </div>
  </div>

</div>
