
<div class="container-fluid profile_edit livre_edit">
  <br>
  <div class="col-8 offset-2 profile-card">

    <div class="row">
      <div class="col-4 pt-4 pl-4">
        <img src="../img/book1.png" alt="user_image" id="book_img" height="200px">
        <button class="img_upload_btn mt-1 btn btn-primary btn-sm">
          <i class="fas fa-upload"></i> upload ...</button>
      </div>
      <div class="col-8">
        <br>
        <div class="data">
          <form class="form-inline" action="">

            <input type="file" id="imgInp" hidden>

            <div>
              <span class="mr-sm-2">Titre:</span>
              <input type="text" class="form-control mb-2 mr-sm-2">
            </div>

            <div>
              <span class="mr-sm-2"> Auteur:</span>
              <input type="text" class="form-control mb-2 mr-sm-2">
            </div>

            <div>
              <span class="mr-sm-2">Edition:</span>
              <input type="text" class="form-control mb-2 mr-sm-2">
            </div>

            <div>
              <span class="mr-sm-2">ISBN:</span>
              <input type="text" class="form-control mb-2 mr-sm-2">
            </div>
            <div>
              <span class="mr-sm-2">Pages:</span>
              <input type="text" class="form-control mb-2 mr-sm-2">
            </div>
            <div>
              <span class="mr-sm-2">Description:</span>
              <textarea name="" cols="30" rows="3" class="form-control mt-2 mb-2 mr-sm-2"></textarea>
            </div>



            <div class="footer">
              <br>
              &ensp;
              <button type="submit" class="btn btn-success mr-2">
                <i class="fas fa-save"></i>
                Enregister
              </button>
              <a class="btn btn-info" href="livres.html">
                <i class="fas fa-times"></i>
                Annuler
              </a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <!-- /.container-fluid -->
</div>
