<!-- Begin Page Content -->
<div class="container-fluid profile">
  <br><br>
  <div class="col-8 offset-2 profile-card">

    <div class="row">
      <div class="col-4">
        <img src="assets/img/user.png" alt="user_image" class="rounded-circle" height="150px" width="150px">
      </div>
      <div class="col-8">
        <br>
        <div class="data">
          <div class="row">
            <div class="col-sm-4">
              <div class="det-item">
                <b>Nom</b><br>
                <span>{{user.student.nom}}</span>
              </div>
              <div class="det-item">
                <b>Télephone</b><br>
                <span>{{user.student.telephone}}</span>
              </div>
              <div class="det-item">
                <b>CIN</b><br>
                <span>{{user.student.cin}}</span>
              </div>
              <br>
<!--              <a class="btn btn-primary btn-xs" href="profile_edit.html">-->
<!--                <i class="fas fa-edit"></i> Modifier-->
<!--              </a>-->
              <a class="btn btn-primary btn-sm" routerLink="../../">
                <i class="fas fa-angle-double-left"></i> retour
              </a>
            </div>
            <div class="col-sm-8">
              <div class="det-item"><b>Prénom</b><br>
                <span>{{user.student.prenom}}</span>
              </div>
              <div class="det-item"><b>Email</b><br>
                <span>{{user.student.email}}</span>
              </div>
              <div class="det-item"><b>CNE</b><br>
                <span>{{user.student.cne}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>

</div>
<!-- /.container-fluid -->
