<!-- Begin Page Content -->
<div class="container-fluid profile">
  <br><br>
  <div class="col-8 offset-2 profile-card">

    <div class="row">
      <div class="col-4">
        <img [src]="imagepath" class="rounded-circle" height="150px" width="150px">
      </div>
      <div class="col-8">
        <br>
        <div class="data">
          <div class="row">
            <div class="col-sm-4">
              <div class="det-item">
                <b>Nom</b><br>
                <span>{{student.nom}}</span>
              </div>
              <div class="det-item">
                <b>Télephone</b><br>
                <span>{{student.telephone}}</span>
              </div>
              <div class="det-item">
                <b>CIN</b><br>
                <span>{{student.cin}}</span>
              </div>
              <br>
              <a class="btn btn-primary btn-xs" routerLink="/userHome/profile/edit"><i class="fas fa-edit"></i>
                Modifier
              </a>
            </div>
            <div class="col-sm-8">
              <div class="det-item"><b>Prénom</b><br>
                <span>{{student.prenom}}</span>
              </div>
              <div class="det-item"><b>Email</b><br>
                <span>{{student.email}}</span>
              </div>
              <div class="det-item"><b>CNE</b><br>
                <span>{{student.cne}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
