
<div class="container-fluid book_details">
  <br><br>
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-5"><img src="img/book1.png" height="400px" alt=""></div>

      <div class="col-7 book-text">
        <br>
        <h1>Mastering java 11</h1>
        <p>
          <b>By</b> <span>John monak</span><br>
          <b>Edition</b> <span>2018</span><br>
          <b>ISBN</b> <span>32651425</span><br>
          <b>pages</b> <span>420</span>
        </p>
        <p>
          <b>description</b> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, recusandae! Tenetur, ipsam. Unde suscipit mollitia reprehenderit quis temporibus, illo id voluptates, quod perspiciatis recusandae ab laboriosam amet obcaecati vero perferendis.</span>
        </p>
        <div class="footer">
          <button class="btn btn-primary"><i class="fas fa-angle-double-left"></i>  Page principale</button>
          <button class="btn btn-warning"><i class="fas fa-book-reader"></i> Demander d'emprunt</button>
        </div>
      </div>
    </div>
  </div>

</div>
